[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
nbdev = "*"
fastcore = "*"
openai = "*"
python-dotenv = "*"
pydantic = "*"
instructor="*"
langgraph="*"
langchain="*"
"unstructured[all-docs]"="*"


[dev-packages]

[requires]
python_version = "3.12"
